
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mon Projet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <div class="translate-app">
        <header class="app-header">
            <h1>Traducteur</h1>
        </header>
        <form method="POST" action="/">
            <main class="translation-boxes">

                <!-- Zone source -->
                <div class="text-box source-box">
                    <div class="language-label">Texte à traduire</div>
                    <textarea
                            class="text-input"
                            name="text_to_translate"
                            placeholder="Entrez votre texte"
                        >{{ text_to_translate or '' }}</textarea>

                    <button class="clear-btn" type="button">Effacer</button>
                </div>

                <!-- Zone de bouton -->
                <div class="translate-btn-container">
                    <button class="translate-btn" type="submit">Traduire →</button>
                </div>

                <!-- Zone anglaise -->
                <div class="text-box result-box">
                    <div class="language-label">Traduction</div>
                    <select name="target_lang">
                        <option value="EN" {% if target_lang == 'EN' %}selected{% endif %}>Anglais</option>
                        <option value="FR" {% if target_lang == 'FR' %}selected{% endif %}>Français</option>
                        <option value="ES" {% if target_lang == 'ES' %}selected{% endif %}>Espagnol</option>
                        <option value="RU" {% if target_lang == 'RU' %}selected{% endif %}>Russe</option>
                        <option value="ZH" {% if target_lang == 'ZH' %}selected{% endif %}>Mandarin</option>
                    </select>

                    <textarea class="text-output" readonly>{{ translation or '' }}</textarea>
                    <button class="copy-btn" type="button">Copier</button>
                </div>

            </main>
        </form>
    </div>
</body>
</html>
